<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.honestpuck.patchbot</string>
        <key>Program</key>
        <string>/Library/Application Support/tools/autopkg.sh</string>
        <key>StandardErrorPath</key>
        <string>/Library/Application Support/tools/patchbot.out</string>
        <key>StandardOutPath</key>
        <string>/Library/Application Support/tools/patchbot.out</string>
        <key>StartCalendarInterval</key>
        <dict>
                <key>Hour</key>
                <integer>6</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
        <key>WorkingDirectory</key>
        <string>/Library/Application Support/tools</string>
</dict>
</plist>